<ion-content>
  <!-- back button -->
  <div class="return-box-left">
    <ion-button [routerLink]="['/tabs/tab3']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="refresh-box-right">
    <ion-button (click)="refresh()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="copy-clipboard-right-bottom">
    <ion-button (click)="copy()">
      <ion-icon name="copy-outline"></ion-icon>
    </ion-button>
  </div>

  <div>
    {{textToDisplay}}
  </div>
</ion-content>
