<link rel="stylesheet" type="text/scss" href="preview-print.component.scss" media="print">

<ion-content>
  <!-- back button and print button-->
  <div class="generated-invoice-header-box-left">
    <ion-button (click)="returnHome()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="generated-invoice-header-box-right">
    <ion-button (click)="print()">
      <ion-icon name="print-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- the generated invoice-->
  <div id="invoiceDocument" class="generated-invoice-box"
       style="width: 100vw;
              height: 100vh;
              background-color: white;
              -webkit-print-color-adjust:exact;
              padding: 1vh;">
    <table *ngIf="isLoaded"
           style="width: 100%;
            border-collapse: collapse;
            border-spacing: 500px;
            color: black;">
      <thead>

      </thead>


      <tbody>
      <!-- invoice -->
      <tr>
        <td style="font-size: 40px; padding-bottom: 3vh;text-align: center;font-family: sans-serif">
          {{'INVOICE' | translate}} {{"NUMBER_ABBREV" | translate}}{{currentInvoice.date.locale('fr').format('yyyy') + currentInvoice.invoiceNumber}}
        </td>
      </tr>

      <tr>
        <td
          style="padding-bottom: 2vh;width: 90vw;font-family: sans-serif;text-align: center; font-size: 25px">
          <table style="width: 100%;
          border-collapse: collapse;
          border-spacing: 500px;
          color: black;">
            <tr>
              <th style="text-align: left; padding-right: 1vw;font-family: sans-serif;font-size: 25px;
                        font-weight: normal; !important;">
                <!-- company informations -->
                {{currentInvoice.companyName}}
                <br>
                {{currentInvoice.companyAddress}}
                <br>
                <!-- date -->
                {{currentInvoice.date.locale('fr').format('ll')}}
              </th>
              <th style="text-align: right; width: 50vw;font-family: sans-serif;font-size: 25px;
                        font-weight: normal; !important;">
                <!-- customer's name-->
                {{currentInvoice.customerName}}
                <br>
                {{currentInvoice.customerAdress}}
              </th>
            </tr>
          </table>
          <!-- customer's name-->
          <!--
          <span style="text-align: left; width: 50vw;font-family: sans-serif">
            {{currentInvoice.customerName}}
            <br>
            {{currentInvoice.customerAdress}}
          </span>
          -->

          <!-- date -->
          <!-- <span style="text-align: right; padding-right: 1vw;font-family: sans-serif">
          {{currentInvoice.date.locale('fr').format('lll')}}
          </span>
          -->
        </td>
      </tr>

      <!-- payment method -->
      <tr>
        <table style="margin-bottom: 5vh;width: 100%;
                      border-collapse: collapse;
                      border-spacing: 500px;
                      color: black;">
          <thead>
          <tr>
            <th style="font-family: sans-serif;
                       background-color: lightgray;
                       text-align: center;
                        padding-left: 1vw;
                        font-size: 30px;
                       -webkit-print-color-adjust:exact;">
              {{'PAYMENT_MODE_PRINTER' | translate}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: center;
                       font-family: sans-serif;
                       font-size: 25px;">
              {{currentInvoice.paymentMode}}
            </td>
          </tr>
          </tbody>
        </table>
      </tr>

      <!-- product list-->
      <tr>
        <table style="margin-bottom: 2vh;width: 100%;
                      border-collapse: collapse;
                      border-spacing: 500px;
                      color: black;">
          <thead>

          <!--
          <tr>
            <th>
              {{'PRODUCT_LIST_PRINTER' | translate}}
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
          </tr>
          -->
          <tr>
            <th style="text-align: center;
                        padding-left: 1vw;
                        font-size: 30px;
                        font-family: sans-serif;
                        background-color: lightgray;
                        -webkit-print-color-adjust:exact;">
              {{'DESIGNATION' | translate}}
            </th>
            <th style="text-align: center;
                        padding-left: 1vw;
                        font-size: 30px;
                        font-family: sans-serif;
                        -webkit-print-color-adjust:exact;
                        background-color: lightgray;">
              {{'PRICE' | translate}}
            </th>
            <th style="text-align: center;
                        padding-left: 1vw;
                        font-size: 30px;
                        font-family: sans-serif;
                        -webkit-print-color-adjust:exact;
                        background-color: lightgray;">
              {{'QUANTITY' | translate}}
            </th>
            <th style="text-align: center;
                        padding-left: 1vw;
                        font-size: 30px;
                        font-family: sans-serif;
                        -webkit-print-color-adjust:exact;
                        background-color: lightgray;">
              {{'TOTAL' | translate}}
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let productItem of currentInvoice.productList">
            <td style="text-align: center;
                        font-family: sans-serif;
                        font-size: 25px;">
              {{productItem.designation}}
            </td>
            <td style="text-align: center;
                        font-size: 25px;
                        font-family: sans-serif;">
              {{productItem.price}}€
            </td>
            <td style="text-align: center;
                        font-family: sans-serif;
                        font-size: 25px;">
              {{productItem.quantity}}
            </td>
            <td style="text-align: center;
                        font-family: sans-serif;
                        font-size: 25px;">
              {{productItem.quantity * productItem.price}}€
            </td>
          </tr>
          </tbody>
        </table>
      </tr>

      </tbody>

      <!-- total and tax-->
      <tfoot>
      <tr>
        <table style=" width: 100%;
                        border-collapse: collapse;
                        border-spacing: 500px;
                        color: black;">
          <thead>
          <tr>
            <th style="text-align: left;padding-left: 1vw;
                        font-size: 30px;
                        font-family: sans-serif;
                        background-color: lightgray;
                        -webkit-print-color-adjust:exact;">
              {{'TOTAL_PRINTER' | translate}}
            </th>
            <th style="text-align: left;padding-left: 1vw;
                        font-size: 30px;
                        font-family: sans-serif;
                        background-color: lightgray;
                        -webkit-print-color-adjust:exact;">

            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: center; font-size: 25px;font-family: sans-serif;">
              <i>{{'TAX_PRINTER' | translate}} ({{currentInvoice.tax}}%)</i>
            </td>

            <td style="text-align: center; font-size: 25px;font-family: sans-serif;">
              {{currentInvoice.total - currentInvoice.total / (1 + currentInvoice.tax / 100) | number: '1.2-2'}}€
            </td>
          </tr>

          <tr>
            <td style="text-align: center; font-size: 25px;font-family: sans-serif;">
              {{'TOTAL_PRINTER' | translate}}
            </td>

            <td style="text-align: center; font-size: 25px;font-family: sans-serif;">
              {{currentInvoice.total}}€
            </td>
          </tr>

          </tbody>
        </table>
      </tr>
      </tfoot>

    </table>
  </div>
</ion-content>
