<ion-content>
  <!-- back button  and print button-->
  <div class="generated-invoice-header-box">
    <ion-button [routerLink]="['/tabs']">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <!-- the generated invoice-->
  <div class="generated-invoice-box">
    <table *ngIf="isLoaded">
      <thead>

      </thead>


      <tbody>
      <!-- invoice -->
      <tr>
        <td style="font-size: 40px; padding-bottom: 3vh;">
          {{'INVOICE' | translate}}
        </td>
      </tr>

      <tr>
        <td
          style="padding-bottom: 2vh; display: flex;flex-direction: row; width: 90vw; justify-content: space-between;align-items: center">
          <!-- customer's name-->
          <span style="text-align: left; width: 50vw">
            {{currentInvoice.customerName}}
            <br>
            {{currentInvoice.customerAdress}}
          </span>

          <!-- date -->
          <span style="text-align: right; padding-right: 1vw;">
          {{currentInvoice.date.locale('fr').format('lll')}}
          </span>
        </td>
      </tr>

      <!-- payment method -->
      <tr>
        <table style="margin-bottom: 5vh;">
          <thead>
          <tr>
            <th>
              {{'PAYMENT_MODE_PRINTER' | translate}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              {{currentInvoice.paymentMode}}
            </td>
          </tr>
          </tbody>
        </table>
      </tr>

      <!-- product list-->
      <tr>
        <table style="margin-bottom: 2vh;">
          <thead>

          <!--
          <tr>
            <th>
              {{'PRODUCT_LIST_PRINTER' | translate}}
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
          </tr>
          -->
          <tr>
            <th>
              {{'DESIGNATION' | translate}}
            </th>
            <th>
              {{'PRICE' | translate}}
            </th>
            <th>
              {{'QUANTITY' | translate}}
            </th>
            <th>
              {{'TOTAL' | translate}}
            </th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let productItem of currentInvoice.productList">
            <td>
              {{productItem.designation}}
            </td>
            <td>
              {{productItem.price}}€
            </td>
            <td>
              {{productItem.quantity}}
            </td>
            <td>
              {{productItem.quantity * productItem.price}}€
            </td>
          </tr>
          </tbody>
        </table>
      </tr>

      </tbody>

      <!-- total and tax-->
      <tfoot>
      <tr>
        <table>
          <thead>
          <tr>
            <th style="text-align: left">
              {{'TOTAL_PRINTER' | translate}}
            </th>
            <th>

            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>
              <i>{{'TAX_PRINTER' | translate}} ({{currentInvoice.tax}}%)</i>
            </td>

            <td>
              {{currentInvoice.total - currentInvoice.total / (1 + currentInvoice.tax / 100) | number: '1.2-2'}}€
            </td>
          </tr>

          <tr>
            <td>
              {{'TOTAL_PRINTER' | translate}}
            </td>

            <td>
              {{currentInvoice.total}}€
            </td>
          </tr>

          </tbody>
        </table>
      </tr>
      </tfoot>

    </table>
  </div>
</ion-content>
